exportPattern("^[^\\.]")
importFrom("utils", head, tail)
import("mvtnorm")
import("methods")
import("emulator")
import("mathjaxr")

 importFrom("grDevices", "heat.colors", "terrain.colors")
 importFrom("graphics", "axis", "contour", "filled.contour", "title")
 importFrom("stats", "optim", "sd")

S3method("print", experiment)
S3method("print", mdm)
S3method("print", mhp)
S3method("print", mhpSummary)
